<div class="pagecontainer">
    <div container>
        <div blackbox></div>
        <p>DEEP LEARNING</p>
        
    </div>
    <p class="header">DEEP LEARNING</p>
    <p style="margin-left: 100px; margin-right: 100px;">Welcome to the deep learning chapter. This is where the journey started on the third august 2023. At first this chapter will be the main focus. Enjoy -_-</p>

    <div routerLink="/deep-learning/introduction" class="button">
        <img src="/assets/Start_Deep_Learning.png" style="max-width: 9vw;">
        <p class="button">INTRODUCTION</p>
    </div>
</div>
