<p>Welcome to the home screen. This is the point were every journey starts. Select a category to learn:</p>

<div routerLink="/math">
    <button class="play-button" ></button>
    <p>MATH</p>
</div>
<div class="aline">
    <div routerLink="/computer-science">
        <button class="play-button" ></button>
        <p>COMPUTER SCIENCE</p>
    </div>
    <div  routerLink="/chemistry">
        <button class="play-button" ></button>
        <p>CHEMISTRY</p>
    </div>
    <div routerLink="/physics">
        <button class="play-button" ></button>
        <p>PHYSICS</p>
    </div>
    <div routerLink="/biology">
        <button class="play-button" ></button>
        <p>BIOLOGY</p>
    </div>
</div>

